<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3e48d02f-5169-4f26-92b1-a24850c0062c/resourceGroups/bot/providers/Microsoft.Web/sites/Dobigoonoff-bot</ResourceId>
    <ResourceGroup>bot</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://dobigoonoff-bot.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://dobigoonoff-bot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Dobigoonoff-bot</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>