<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/634c4562-323d-46b9-a313-e99c71919c80/resourceGroups/Sport/providers/Microsoft.Web/sites/Dobigoonoff-Football-api</ResourceId>
    <ResourceGroup>Sport</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://dobigoonoff-football-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://dobigoonoff-football-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Dobigoonoff-Football-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>